In [181]:
#1
for i in range(6):
    for j in range(i+1):
        print("*",end=" ")
    print()

*
* *
* * *
* * * *
* * * * *
* * * * * *

In [9]:
#2
n=6
for i in range(n):
    for j in range(n-i-1):
        print(" ", end=" ")
    for j in range(i+1):
        print('*',end=' ')
    print()

          *
        * *
      * * *
    * * * *
  * * * * *
* * * * * *

In [3]:
#3
n=6
k=n-1
for i in range(0,n):
    for j in range(0,k):
        print(end=" ")
    k=k-1    
    for j in range(0,i+1):
        print('*',end=" ")
    print()

     *
    * *
   * * *
  * * * *
 * * * * *
* * * * * *

In [13]:
#4
n=7
for i in range(1,n):
    for j in range(1,i):
        print(j, end=" ")
    print()

1
1 2
1 2 3
1 2 3 4
1 2 3 4 5

In [2]:
#5
n=5
a=1
for i in range(1,n+1):
    for j in range(i):
        print(a, end=" ")
        a+=1
    print()

1
2 3
4 5 6
7 8 9 10
11 12 13 14 15

In [14]:
#6
character = 65
for i in range(1,5):
    for j in range(i):
        print(chr(character),end=" ")
    character+=1
    print()

A
B B
C C C
D D D D

In [7]:
#7
character = 65
for i in range(1,6):
    for j in range(i):
        print(chr(character),end=' ')
        character+=1
    print()

A
B C
D E F
G H I J
K L M N O

In [153]:
#8
for i in reversed(range(1,n)):#1,2,3,4,5,6
    for j in reversed(range(i,n)):#
        print("k", end=" ")
    print()

k
k k
k k k
k k k k
k k k k k
k k k k k k

In [10]:
#9
character = 65
for i in range(1,5):
    character=65
    for j in range(i):
        print(chr(character),end=' ')
        character+=1
    print()

A
A B
A B C
A B C D

In [33]:
#10
p ='Python'
for i in range(1,len(p)+1):
    for j in (p[0:i]):
        print(j,end=" ")
    print()

P
P y
P y t
P y t h
P y t h o
P y t h o n

In [103]:
#11
n=6
for i in range(1,n):#1,2,3,4,5,6
    for j in range(0,n-i):#
        print(i, end=" ")
    print()

1 1 1 1 1
2 2 2 2
3 3 3
4 4
5

In [10]:
#12
n=6
for i in range(6,0,-1):
    for j in range(i):
        print(n,end="")
    n =n-1
    
    print()

666666
55555
4444
333
22
1

In [20]:
#13
for i in range(1,6):
    for j in range(0,7-i):
        print(j,end="")
    print()

012345
01234
0123
012
01

In [3]:
#14
n=3
a=1
for i in range(1,2*n,2):
    for j in range(1,i+1):
        print(a,end=' ')
        a+=1
    print()

1
2 3 4
5 6 7 8 9

In [29]:
#15
n=7
a=6
for i in range(1,7):
    a=n-i
    for j in range(n-i):
        print(a,end=' ')
        a-=1
    print()

6 5 4 3 2 1
5 4 3 2 1
4 3 2 1
3 2 1
2 1
1

In [34]:
#16
a=1
for i in range(1,6):
    for j in range(i):
        print(a,end="")
    a+=2
    print()

1
33
555
7777
99999

In [41]:
#17
a=1
for i in range(1,7):
    for j in range(6-i):
        print(" ",end="")
    for j in range(1,i):
        print(j,end="")
        
    print()

    1
   12
  123
 1234
12345

In [55]:
#18
n = 5
for i in range(1,n+1):
    for j in range(i):
        print(i,end=' ')
    for k in range(i+1,n+1):
        print(k,end=' ')
    print()

1 2 3 4 5
2 2 3 4 5
3 3 3 4 5
4 4 4 4 5
5 5 5 5 5

In [62]:
#19
n = 7
for i in range(1,n+1):
    for j in range(1,i+1):
        print(i*j,end=' ')
    print()

1
2 4
3 6 9
4 8 12 16
5 10 15 20 25
6 12 18 24 30 36
7 14 21 28 35 42 49

In [104]:
#21
n=9
for i in range(1,n):
    for j in range(n-i):
        print("*",end=" ")
    print()

* * * * * * * *
* * * * * * *
* * * * * *
* * * * *
* * * *
* * *
* *
*

In [72]:
#22
for i in range(7):
    for j in range(i):
        print("*",end=" ")
    print()
for i in range(i-1,0,-1):
    for j in range(i):
        print("*",end=" ")
    print()

*
* *
* * *
* * * *
* * * * *
* * * * * *
* * * * *
* * * *
* * *
* *
*

In [91]:
#23
for i in range(7):
    for j in range(i):
        print("*", end=" ")
    print()
print("\n")   
    
    
for i in range(i-1,0,-1):
    for j in range(i):
        print("*",end=" ")
    print()

*
* *
* * *
* * * *
* * * * *
* * * * * *


* * * * *
* * * *
* * *
* *
*

In [151]:
n=7
for i in reversed(range(1,n)):#1,2,3,4,5,6
    for j in reversed(range(i,n)):#
        print(i, end=" ")
    print()

6
5 5
4 4 4
3 3 3 3
2 2 2 2 2
1 1 1 1 1 1

In [64]:
#20
n = 8
for i in range(1,n+1):
    for j in range(i):
        print(2**(i-1-j),end=' ')
    print()

1
2 1
4 2 1
8 4 2 1
16 8 4 2 1
32 16 8 4 2 1
64 32 16 8 4 2 1
128 64 32 16 8 4 2 1

In [1]:
n=5
for i in range(1,n+1):
    for j in range(1):
        print(' '*(n-i)+'* '*i)
    print()

    *

   * *

  * * *

 * * * *

* * * * *